{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/main.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container">
    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" >
        <img class="card-img-top" src="{{url_for('static', filename='download.jpeg')}}">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>Burger</h3>
        <p>A hamburger (also burger for short) is a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun. The patty may be pan fried, grilled, smoked or flame broiled. </p>
           
            <a class="ratings" href="{{url_for('main.new_review')}}"> Write a new review</a>
        </div>
    </div>
    <br>   <br>   <br>   <br>   <br>   <br>
    <div class="row">
        <h1>Reviews</h1>
        <hr>
        <div class="content">
            {{ macro.display(burger) }}
        </div>
    </div>
</div>
{% endblock %}